.header,
.main {
  max-width: 1300px;
  margin: auto;
}

header,
.results {
  background-color: var(--secondary-bg-color);
  transition: background 0.3s linear;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    padding-top: 10px;

    .logo {
      color: var(--logo-color);
      text-decoration: none;

      h1 {
        font-weight: 600;
      }
    }
  }

  &__right {
    padding-top: 10px;

    button {
      background: transparent;
      width: 45px;
      height: 45px;
      margin-right: 20px;

      svg {
        fill: var(--svg-fill-color);
      }
    }
  }
}

.main {
  margin-top: 2rem;

  &__form {
    label {
      font-size: 2rem;
    }

    input {
      font-size: 1.1rem;
      padding: 3px 5px;
      width: 25rem;
      margin: 0.3rem 0 0.5rem;
      border: 3px solid var(--input-text-border);
      border-radius: var(--border-radius-sm);
    }

    .button--search {
      font-size: 1.3rem;
      color: var(--white);
      font-weight: 600;
      background-color: var(--red);
    }
  }
}

.results {
  overflow: auto;
  margin: 2rem 0;
  border-radius: var(--border-radius-lg);
  min-height: 20rem;

  h3,
  h4 {
    text-align: center;
  }

  .img-grid {
    padding: 0 15px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    gap: 20px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-sm);
    }
  }
}

// Loading animation
.results {
  .loading-animation {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &.show {
      display: flex;
    }
  }

  .intersection-observer {
    height: 10px;
  }
}

// Media Quries
@media only screen and (max-width: 87.5em) {
  /* 1400px */
  .header,
  .main {
    padding: 0 2em;
  }
}

@media only screen and (max-width: 37.5em) {
  /* 600px */
  .header,
  .main {
    padding: 0 1em;
  }

  .header {
    flex-direction: column;

    h1 {
      margin-bottom: 0;
    }
  }

  .main {
    &__form {
      input[type="search"] {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 31.25em) {
  /* 500px */
  .results {
    .img-grid {
      grid-template-columns: 1fr;
    }
  }
}
