.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;

  &.show {
    opacity: 1;
    pointer-events: all;

    & .modal__inner {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__inner {
    background-color: var(--secondary-bg-color);
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5em;
    gap: 2rem;
    border-radius: var(--border-radius-lg);
    transition: all 0.3s linear;
    transform: translateY(-2rem);
    opacity: 0;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__avgcolor {
    padding: 5px 10px;
    border-radius: var(--border-radius-sm);
  }

  &__direction {
    position: absolute;
    bottom: 0;
    margin: 0.5rem;
  }
}
