.modal,
.bookmark {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;

  &.show {
    opacity: 1;
    pointer-events: all;

    & .modal__inner {
      transform: translateY(0);
      opacity: 1;
    }

    & .bookmark__inner {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.modal,
.bookmark {
  &__inner {
    background-color: var(--secondary-bg-color);
    max-width: 1300px;
    width: 70%;
    display: flex;
    padding: 2.5em;
    gap: 2rem;
    border-radius: var(--border-radius-lg);
    transition: all 0.3s linear;
    transform: translateY(-2rem);
    opacity: 0;
  }
}

.modal {
  &__inner {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__avgcolor {
    padding: 5px 10px;
    border-radius: var(--border-radius-sm);
  }

  .button {
    padding: 0.3em 0.8em;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 5px;

    &--bookmark {
      background-color: var(--yellow);
    }

    &--link {
      display: inline-block;
      background-color: var(--light-blue);
      text-decoration: none;
    }
  }

  &__direction {
    .button {
      position: absolute;
      top: 50%;
      margin-bottom: 0;
      padding: 0;

      svg {
        width: 40px;
        height: 40px;
      }

      &--prev {
        left: 0;
        transform: translate(-110%);
      }

      &--next {
        right: 0;
        transform: translate(110%);
      }
    }
  }
}

// Loading animation
.modal {
  &__loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &.show {
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
    }
  }

  .pulse {
    width: 100px;
    height: 100px;
    background: var(--logo-color);
    border-radius: 50%;
    animation: pulse 2s linear infinite;
    z-index: 9;
  }
}

.bookmark {
  &__inner {
    flex-direction: column;
  }

  &__heading {
    text-align: center;
  }
}
